@font-face {
  font-family: font-black;
  src: url("font/black.ttf");
}
@font-face {
  font-family: font-reg;
  src: url("font/reg.ttf");
}
@font-face {
  font-family: font-light;
  src: url("font/light.ttf");
}
body {
  margin: 0;
  font-size: 10pt;
  font-family: font-light;
  background-color: #f8f8f8;
}
@media (min-width: 905px) {
  body {
    font-size: 12pt;
  }
}

h1 {
  text-align: center;
  font-size: 5em;
  font-family: font-black;
}

h2 {
  font-size: 2.5em;
  font-family: font-reg;
  margin: 0;
}

h3 {
  text-decoration: underline;
}

header {
  height: 60%;
  padding: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("img/table2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}
@media (min-width: 905px) {
  header {
    min-height: 64vh;
    background-position: bottom left;
    padding: 0;
  }
}
header #title-name {
  margin-bottom: 4vw;
  height: 60%;
  margin-top: 4vw;
  width: 100%;
}
header #title-name #tag-line {
  text-align: center;
  margin-top: 1vw;
  font-size: 2em;
  font-family: font-black;
  color: #bcdc92;
  width: 100%;
}
header #title-name img {
  width: auto;
  display: block;
  margin: 0 auto;
  height: 100%;
}
header > div {
  cursor: pointer;
}
header #back-home {
  position: fixed;
  left: 0;
  top: 0;
  padding: 0.5em;
  font-family: font-black;
  cursor: pointer;
}

nav {
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: end;
  opacity: 0.985;
  position: absolute;
  top: 2vw;
  left: 0;
  color: #f8f8f8;
}
nav h3 {
  margin: 0.5vw;
  text-decoration: none;
}
nav a {
  text-decoration: none;
}
nav a:visited {
  color: #212121;
}
nav #nav-links {
  display: flex;
  width: 75%;
  justify-content: space-around;
  position: sticky;
  margin: 0.5em;
  font-family: font-black;
}
@media (min-width: 905px) {
  nav #nav-links {
    width: 33%;
  }
}
nav #nav-links > div {
  width: 25%;
  text-align: center;
  cursor: pointer;
}
nav #nav-links .active {
  text-decoration: underline;
}

.home {
  display: none;
}

#align {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}
@media (min-width: 905px) {
  #align {
    width: 55vw;
  }
}

#about {
  box-sizing: border-box;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 2vw;
  margin-top: 2vw;
  padding-bottom: 2vw;
  border-bottom: 2px solid rgba(33, 33, 33, 0.2);
  background-color: white;
}
@media (min-width: 905px) {
  #about {
    background-color: white;
    border-radius: 20px;
    border: 2px solid rgba(33, 33, 33, 0.2);
  }
}
#about span {
  font-size: 2.5em;
  font-family: font-reg;
  display: block;
  margin-right: 1vw;
  margin-bottom: 4vw;
}
@media (min-width: 905px) {
  #about span {
    float: left;
    margin-bottom: 0;
  }
}
@media (min-width: 905px) {
  #about {
    max-width: 80vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  #about > div {
    display: block;
    box-sizing: border-box;
    width: 48%;
  }
  #about #left-content {
    float: left;
    padding-right: 1vw;
  }
}
@media (min-width: 905px) and (min-width: 905px) {
  #about #left-content p:first-of-type {
    margin-top: 0;
  }
}
@media (min-width: 905px) {
  #about #right-content {
    float: right;
    padding-left: 1vw;
  }
}
@media (min-width: 905px) and (min-width: 905px) {
  #about #right-content p:first-of-type {
    margin-top: 0;
  }
}
@media (min-width: 905px) {
  #about #skills-container {
    display: flex;
    width: 100%;
    padding-top: 2vw;
  }
  #about #skills-container > div {
    width: 50%;
    padding: 2vw;
    padding-top: 0;
  }
  #about #skills-container > div h3 {
    margin-top: 0;
  }
  #about #skills-container > div ul {
    width: 75%;
    padding: 0;
    margin: 0 auto;
  }
  #about #skills-container > div ul li {
    padding-bottom: 0.5vw;
  }
  #about #skills-container #skills > ul {
    columns: 2;
  }
}

#content-container {
  margin-top: 2vh;
}
#content-container h2 {
  margin-left: 2vw;
}
#content-container h3 {
  text-decoration: none;
}
#content-container #filter-container {
  width: 100%;
}
#content-container #filter-container #filter-grid {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  margin-top: 2vw;
  font-family: font-black;
  color: #212121;
}
@media (min-width: 905px) {
  #content-container #filter-container #filter-grid {
    width: 50vw;
  }
  #content-container #filter-container #filter-grid > div {
    width: 4vw;
    height: 4vw;
  }
}
#content-container #filter-container #filter-grid > div {
  display: flex;
  width: 50%;
  height: 20%;
  align-items: center;
  justify-content: center;
  background-color: #bcdc92;
  cursor: pointer;
}
#content-container #filter-container #filter-grid .print {
  margin-right: 0.25vw;
}
#content-container #filter-container #filter-grid .web {
  margin-left: 0.25vw;
}
#content-container #filter-container #filter-grid .selected {
  background-color: #bfbfbf;
  transition: background-color 0.3s linear;
}
#content-container #content-grid {
  display: grid;
  grid-template-columns: repeat(2, 44vw);
  grid-template-rows: repeat(3, 44vw);
  /*(100- gutter*3)/2*/
  grid-gap: 2vw;
  box-sizing: content-box;
  margin: 4vw;
  justify-content: center;
}
#content-container #content-grid h3 {
  margin-left: 4vw;
}
@media (min-width: 905px) {
  #content-container #content-grid h3 {
    margin-left: 0;
  }
}
@media (min-width: 905px) {
  #content-container #content-grid {
    grid-template-columns: repeat(3, 18vw);
    grid-template-rows: repeat(2, 18vw);
    margin: 0;
    margin-bottom: 4vw;
    margin-top: 2vw;
    grid-gap: 0.5vw;
  }
}
#content-container #content-grid .filtered {
  transition: opacity 0.3s linear;
  opacity: 0.2;
}
#content-container #content-grid .example {
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
#content-container #content-grid .example > div {
  position: absolute;
  display: grid;
  align-content: flex-end;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.8));
}
#content-container #content-grid .example > div span {
  display: none;
}
@media (min-width: 905px) {
  #content-container #content-grid .example > div {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding-left: 0;
    padding-right: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.8));
    opacity: 1;
  }
  #content-container #content-grid .example > div:hover {
    transition: opacity 0.3s linear;
  }
  #content-container #content-grid .example > div span {
    padding-left: 8%;
    padding-right: 8%;
    display: inline;
  }
}

#contact {
  display: flex;
  width: 100%;
  background-color: #212121;
  min-height: 50vh;
  align-items: center;
  color: #f8f8f8;
  padding-bottom: 12vw;
  padding-top: 4vw;
}
#contact #contact-container {
  display: block;
  margin: 0 auto;
  padding: 2vw;
  box-sizing: border-box;
}
@media (min-width: 905px) {
  #contact #contact-container {
    width: 66vw;
  }
}
#contact #contact-container h2 {
  margin-bottom: 2vw;
  text-align: center;
}
#contact #contact-container #face {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4vw;
}
@media (min-width: 905px) {
  #contact #contact-container #face {
    margin-bottom: 2vw;
  }
  #contact #contact-container #face img {
    width: 40%;
  }
}
#contact #contact-container #face img {
  width: 60%;
  height: auto;
  clip-path: circle(33%);
}
@media (min-width: 905px) {
  #contact #contact-container #face img {
    width: 40%;
  }
}
#contact #contact-container #contact-links {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 100%;
}
#contact #contact-container #contact-links > div {
  height: 14vw;
  width: 14vw;
  border-radius: 50%;
  background-color: antiquewhite;
}
@media (min-width: 905px) {
  #contact #contact-container #contact-links > div {
    height: 7vw;
    width: 7vw;
  }
}

#web-container {
  margin: 4vw;
  display: grid;
  grid-gap: 4vw;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}
#web-container #bread-crumbs {
  margin-bottom: 2vw;
}
#web-container > div {
  width: 100%;
}
#web-container > div img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
#web-container #image-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, minmax(20vw, auto));
  grid-gap: 4vw;
  margin-top: 2vw;
  box-sizing: content-box;
  justify-content: center;
}
#web-container #image-grid > div {
  background-color: aquamarine;
}
@media (min-width: 905px) {
  #web-container {
    /*display:block;
    width:80vw;
    div:first-of-type{
        width:34vw;
        display: block;
        float:left;
    }
    font-size: 1.5vw;*/
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    max-width: 55%;
    margin: 0 auto;
    grid-gap: 0;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }
  #web-container #image-grid {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, minmax(20vw, auto));
    grid-gap: 0.5vw;
  }
  #web-container > div {
    padding: 0;
  }
}

footer {
  color: #f8f8f8;
  background-color: #212121;
  padding-bottom: 0.5vw;
}
footer #site-map-container {
  display: block;
  margin: 0 auto;
  padding: 2vw;
  margin-bottom: 4vw;
  padding: 4vw;
  box-sizing: border-box;
  border-top: solid 2px #bcdc92;
}
@media (min-width: 905px) {
  footer #site-map-container {
    width: 66vw;
  }
}
footer #site-map-container h3 {
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0;
  margin-bottom: 2vw;
}
footer #site-map-container h4 {
  margin: 0;
}
footer #site-map-container #site-map {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
}
footer #site-map-container #site-map ul {
  padding-left: 0;
  margin: 0.5vw;
}
footer #site-map-container #site-map ul li {
  list-style: none;
}
footer #site-map-container #site-map a {
  color: #f8f8f8;
}
footer #copyright {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
