$gutter : 4vw;
$small_margin: 0.5vw;
$break_tab : 905px;

$primary_highlight : #bcdc92;
$secondary_highlight: #bfbfbf;
$black_background : #212121;
$white_background: #f8f8f8;

@font-face {
    font-family: font-black;
    src: url('font/black.ttf');
}
@font-face {
    font-family: font-reg;
    src: url('font/reg.ttf');
}
@font-face {
    font-family: font-light;
    src: url('font/light.ttf');
}

body{
    margin:0;
    font-size: 10pt;
    font-family: font-light;
    //width:100vw;
    background-color: $white_background;
    @media (min-width : $break_tab){
        font-size: 12pt;
    }
}
h1{
    text-align: center;
    font-size: 5em;
    font-family: font-black;
}
h2{
    font-size: 2.5em;
    font-family: font-reg;
    margin: 0;
}
h3{
    text-decoration: underline;
}
header{

    height:60%;
    padding:$gutter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-image: url('img/table2.png');
    background-repeat:   no-repeat;
    background-position: center;  
    background-size: cover;
    box-sizing: border-box;

    @media (min-width : $break_tab){
        min-height: 64vh;
        background-position: bottom left;
        padding:0;
    }
    #title-name{
        margin-bottom: $gutter;
        height: 60%;
        margin-top: 4vw;
        width:100%;
        #tag-line{
            text-align: center;
            margin-top: 1vw;
            font-size: 2em;
            font-family: font-black;
            color: $primary_highlight;
            width:100%;
        }
        img{
            width:auto;
            display: block;
            margin: 0 auto;
            height:100%;
            @media (min-width : $break_tab){
                
            }
        }
    }
    > div{
        cursor: pointer;
    }
    #back-home{
        position: fixed;
        left:0;
        top:0;
        padding:0.5em;
        font-family:font-black;
        cursor: pointer;
    }
       
}
nav{
    z-index: 10;
    width:100%;
    display:flex;
    justify-content: end;
    //background-color: $white_background;
    opacity:0.985;

    position:absolute;
    top:2vw;

    left:0;
    color: $white_background;
    h3{
        margin:$small_margin;
        text-decoration: none;
    }
    a{
        text-decoration: none;

        &:visited{
            color: $black_background;
        }
    }
    #nav-links{
        display: flex;
        width:75%;
        justify-content: space-around;
        position:sticky;
        margin:0.5em;
        font-family: font-black;
        @media (min-width : $break_tab){
            width:33%;
        }

        > div{
            width:25%;
            //height:120%;
            //background-color: $black_background;
            text-align: center;
            cursor: pointer;
        }
        .active{
            text-decoration: underline;
        }
    }
    
}
.home{
    display: none;
}

#align{
    display: grid;
    
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    @media (min-width : $break_tab){
        width:55vw;
    }
}
#about{
    
    box-sizing: border-box;

    padding-left:$gutter;
    padding-right:$gutter;
    padding-top: 2vw;
    margin-top: 2vw;

    padding-bottom:2vw;
    border-bottom:2px solid rgba(33, 33, 33, 0.2);
    background-color: white;
    @media (min-width : $break_tab){
        //background-color: rgba(33, 33, 33, 0.05);
        background-color:white;
        border-radius: 20px;
        border: 2px solid rgba(33, 33, 33, 0.2);
    }
    
    span{
        font-size: 2.5em;
        font-family: font-reg;
        display: block;
        margin-right:1vw;
        margin-bottom: 4vw;

        @media (min-width : $break_tab){
            float:left;
            margin-bottom:0;
        }
    }

    @media (min-width : $break_tab){
        max-width:80vw;
        padding-left:2vw;
        padding-right:2vw;

        > div{
            display: block;
            box-sizing: border-box; 
            width: 48%;
        }

        #left-content{
            float:left;
            //margin-right:$small_margin;
            padding-right: 1vw;
            p{
                &:first-of-type{
                    @media (min-width : $break_tab){
                        margin-top:0;
                    }
                    
                }
            }
            

        } 
        #right-content{
            float:right;
            //margin-left:$small_margin;
            padding-left: 1vw;
            p{
                &:first-of-type{
                    @media (min-width : $break_tab){
                        margin-top:0;
                    }
                    
                }
            }
        }
        #skills-container{
            display: flex;
            width:100%;
            //border-bottom:1px solid black;
            padding-top:2vw;
            //padding-bottom:2vw;

            >div{
                width:50%;
                padding:2vw;
                padding-top:0;
                h3{
                    margin-top:0;
                }
                ul{
                    width:75%;
                    padding:0;
                    margin: 0 auto;
                    li{
                        padding-bottom:0.5vw;
                    }
                }
 
            }
        
            #skills{
                > ul{
                    columns: 2;
                }
            }
        }
    }

    

}

#content-container{
    margin-top: 2vh;
    h2{
        margin-left:2vw;
    }
    h3{
        text-decoration: none;
    }
    #filter-container{
        width:100%;
        
        #filter-grid{
            display: flex;
            margin:0 auto;
            align-items: center;
            justify-content: space-around;
            margin-top: 2vw;

            font-family: font-black;
            color:$black_background;

            @media (min-width : $break_tab){
                width:50vw;

                > div{
                    width:4vw;
                    height:4vw;
                }
            }

            > div{
                display: flex;
                width:50%;
                height:20%;
                align-items: center;
                justify-content: center;

                background-color:$primary_highlight;
                cursor: pointer;
                
                
            }
            .print{
                margin-right: 0.25vw;
            }
            .web{
                margin-left: 0.25vw;
            }
            .selected{
                background-color: $secondary_highlight;

                transition: background-color 0.3s linear;

            }
        }
    }

    #content-grid{
        display:grid;
        grid-template-columns: repeat(2, 44vw);
        grid-template-rows: repeat(3, 44vw); /*(100- gutter*3)/2*/
        grid-gap: 2vw;
        box-sizing: content-box;
        margin: $gutter;
        
        justify-content: center;

        h3{
            margin-left:$gutter;
            @media (min-width : $break_tab){
                margin-left:0;
            }
        }

        @media (min-width : $break_tab){
            grid-template-columns: repeat(3, 18vw);
            grid-template-rows: repeat(2, 18vw);
            margin: 0;
            margin-bottom: $gutter;
            margin-top: 2vw;
            grid-gap: 0.5vw;
        }
        .filtered{
            transition: opacity 0.3s linear;
            opacity:0.2;
        }
        .example{
            cursor: pointer;
            background-size:     cover; 
            background-repeat:   no-repeat;
            background-position: center center;
            position: relative;

            > div{
                position: absolute;
                display: grid;
                align-content: flex-end;
                width:100%;
                height:100%;
                //padding-left: $gutter;
                //padding-right: $gutter;
                background-image: linear-gradient( rgba(255,255,255,0),rgba(255,255,255,0.1), rgba(255,255,255,0.8));
                
                span{
                    display: none;

                }

                @media (min-width : $break_tab){

                    width:100%;
                    height:100%;
                    text-align: center;
                    justify-content: center;
                    align-content: center;
        
                    padding-left: 0;
                    padding-right: 0;

                    //make into a gradient
                    background-image: linear-gradient( rgba(255,255,255,0.1), rgba(255,255,255,0.8));
                    opacity:1;
                    
                    &:hover{
                        transition: opacity 0.3s linear;
                        //opacity:1;
                    }
        
                    span{
                        padding-left:8%;
                        padding-right:8%;
                        display: inline;

                    }
                }
                
            }
        }
    }    
}

#contact{
    display: flex;
    width:100%;
    background-color: $black_background;
    min-height: 50vh;
    align-items: center;
    color: $white_background;
    padding-bottom: $gutter *3;
    padding-top: $gutter;

    #contact-container{
        
        //height: 100%;
        display: block;
        margin:0 auto;
        padding:2vw;
        box-sizing: border-box;
        @media (min-width : $break_tab){
            width:66vw;
        }
        h2{
            margin-bottom: 2vw;
            text-align: center;
        }

        #face{
            width:100%;
            display: flex;
            //margin:0 auto;
            align-items: center;
            justify-content: center;
            margin-bottom: $gutter;
            
            @media (min-width : $break_tab){
                margin-bottom: 2vw;
                img{width:40%;}
            }
            
            img{
                width:60%;
                height:auto;
                clip-path: circle(33%);

                @media (min-width : $break_tab){
                    width:40%;
                }
            }
        }

        #contact-links{
            display: flex;
            justify-content: space-evenly;
            margin: 0 auto;
            width: 100%;
            @media (min-width : $break_tab){
                //width: 40%;
            }
            > div{
                height:14vw;
                width:14vw;
                border-radius: 50%;
                background-color: antiquewhite;

                @media (min-width : $break_tab){
                    height:7vw;
                    width:7vw;
                }
            }
        }        
    }
    
}

#web-container{
    margin: $gutter;
    display: grid;
    grid-gap: $gutter;
    grid-template-columns: 100%;
    grid-template-rows: auto;

    #bread-crumbs{
        margin-bottom: 2vw;
    }

    > div{
        width:100%;

        
        img{
            display:block;
            margin:0 auto;
            width:100%;
        }

    }//<h1>Glenn Duguid<br>Designs</h1>
    #image-grid{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: repeat(4,minmax(20vw,auto));
        grid-gap: $gutter;
        margin-top:2vw;
        box-sizing: content-box;
        justify-content: center;

        >div{
            background-color: aquamarine;
        }
    }
    @media (min-width : $break_tab){
        /*display:block;
        width:80vw;
        div:first-of-type{
            width:34vw;
            display: block;
            float:left;
        }
        font-size: 1.5vw;*/
        grid-template-columns: 1fr;
        display:flex;
        flex-direction: column;
        max-width: 55%;
        margin: 0 auto;
        grid-gap: 0;
        
        margin-top: $gutter;
        margin-bottom: $gutter;

        #image-grid{
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(2, minmax(20vw, auto));
            grid-gap: $small_margin;
        }

        > div{
            padding:0;
        }
    }
}
footer{
    color: $white_background;

    background-color: $black_background;

    padding-bottom: $small_margin;

    #site-map-container{
        display: block;
        margin:0 auto;
        padding:2vw;
        margin-bottom: $gutter;
        
        padding:$gutter;

        box-sizing: border-box;
        border-top: solid 2px $primary_highlight;

        @media (min-width : $break_tab){
            width:66vw;
        }
        h3{
            padding-left: 2vw;
            padding-right: 2vw;
            
            margin:0;
            margin-bottom: 2vw;

            @media (min-width : $break_tab){
                //text-align: center;
            }
        }
        h4{
            margin:0;
        }
        #site-map{
            display: flex;
            justify-content: space-evenly;
            margin:0 auto;
            flex-wrap: wrap;
            ul{
                padding-left:0;
                margin:$small_margin;
               li{
                    list-style: none;
                    
                } 
            }
            a{
                color:$white_background;
            }
            
        }
        
    }

    #copyright{
        text-align: center;
    }
}

