$gutter : 4vw;
$small_margin: 0.5vw;
$break_tab : 905px;

@font-face {
    font-family: font-black;
    src: url('font/black.ttf');
}
@font-face {
    font-family: font-reg;
    src: url('font/reg.ttf');
}
@font-face {
    font-family: font-light;
    src: url('font/light.ttf');
}

body{
    margin:0;
    font-size: 16pt;
    font-family: font-light;
}
h1{
    font-size: 3em;
    font-family: font-black;
}
h2, h3{
    font-family: font-reg;
}
header{
    width:100vw;
    height:55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(244, 255, 251);
    padding-bottom: $gutter;
    box-sizing: border-box;

    > div{
        cursor: pointer;
    }
    #back-home{
        position: fixed;
        left:0;
        top:0;
        padding:0.5em;
        font-family:font-black;
    }
    nav{
        width:100%;
        display:flex;
        justify-content: center;
        background-color: antiquewhite;
        left:0;
        #nav-links{
            display: flex;
            width:75%;
            justify-content: space-around;
            position:sticky;
            margin:0.5em;

            @media (min-width : $break_tab){
                width:33%;
            }

            > div{
                width:25%;
                height:120%;
                background-color: beige;
                text-align: center;
            }
            .active{
                text-decoration: underline;
            }
        }
    }
    .home{
        display: none;
    }
    
}
#align{
    display: grid;

    justify-content: center;
    align-content: center;
    margin: 0 auto;
    @media (min-width : $break_tab){
        width:66vw;
    }
}
#about{
    
    box-sizing: border-box;

    padding-left:$gutter;
    padding-right:$gutter;
    margin-top: $gutter;

    @media (min-width : $break_tab){
        max-width:80vw;
        padding-left:2vw;
        padding-right:2vw;

        > div{
            display: block;
            box-sizing: border-box; 
            width: 48%;
        }

        #left-content{
            
            float:left;
            margin-right:$small_margin;

        }
        #right-content{
            float:right;
            margin-top: $small_margin;
            margin-left:$small_margin;
        }
    }

    

}
#content-container{
    display:grid;
    grid-template-columns: repeat(2, 44vw);
    grid-template-rows: repeat(3, 44vw); /*(100- gutter*3)/2*/
    grid-gap: $gutter;
    box-sizing: content-box;
    margin: $gutter;
    justify-content: center;

    @media (min-width : $break_tab){
        grid-template-columns: repeat(3, 18vw);
        grid-template-rows: repeat(2, 18vw);
        margin: 0;
        margin-bottom: $gutter;
        margin-top: $gutter;
    }

    .example{
        cursor: pointer;
        background-size:     cover; 
        background-repeat:   no-repeat;
        background-position: center center;

        > div{

            display: grid;
            align-content: flex-end;
            width:100%;
            height:100%;
            padding-left: $gutter;
            padding-right: $gutter;
            background-image: linear-gradient( rgba(255,255,255,0),rgba(255,255,255,0.1), rgba(255,255,255,0.8));
            
            span{
                display: none;
            }

            @media (min-width : $break_tab){
                text-align: center;
                justify-content: center;
                align-content: center;
    
                padding-left: 0;
                padding-right: 0;

                //make into a gradient
                background-image: linear-gradient( rgba(255,255,255,0.1), rgba(255,255,255,0.8));
                opacity:0;
    
                &:hover{
                    transition: opacity 0.3s linear;
                    opacity:1;
                }
    
                span{
                    padding-left:8%;
                    padding-right:8%;
                    display: none;

                }
            }
            
        }
    }
}

#web-container{
    margin: $gutter;
    display: grid;
    grid-gap: $gutter;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(44vw, auto) minmax(44vw, auto);
    
    > div{
        padding:$gutter;
        
        img{
            display:block;
            margin:0 auto;
        }

    }

    @media (min-width : $break_tab){
        /*display:block;
        width:80vw;
        div:first-of-type{
            width:34vw;
            display: block;
            float:left;
        }
        font-size: 1.5vw;*/
        display:flex;
        flex-direction: column;
        max-width: 55%;
        margin: 0 auto;
        grid-gap: 0;
        
        margin-top: $gutter;
        margin-bottom: $gutter;

        > div{
            padding:0;
        }
    }
}

