@font-face {
  font-family: font-black;
  src: url("font/black.ttf");
}
@font-face {
  font-family: font-reg;
  src: url("font/reg.ttf");
}
@font-face {
  font-family: font-light;
  src: url("font/light.ttf");
}
@font-face {
  font-family: font-mlighti;
  src: url("font/mlighti.ttf");
}
body {
  margin: 0;
  font-size: 10pt;
  font-family: font-light;
  background-color: #f8f8f8;
}
@media (min-width: 905px) {
  body {
    font-size: 12pt;
  }
}

h1 {
  text-align: center;
  font-size: 5em;
  font-family: font-black;
}

h2 {
  font-size: 2.5em;
  font-family: font-reg;
  margin: 0;
}

h3 {
  text-decoration: underline;
}

header {
  height: 60%;
  padding: 4vw;
  padding-bottom: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("img/table2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}
@media (min-width: 905px) {
  header {
    min-height: 64vh;
    background-position: bottom left;
    padding: 0;
  }
}
header #title-name {
  margin-bottom: 4vw;
  height: 60%;
  margin-top: 4vw;
  width: 100%;
}
header #title-name #tag-line {
  text-align: center;
  margin-top: 1vw;
  font-size: 2em;
  font-family: font-mlighti;
  color: #bcdc92;
  width: 100%;
}
header #title-name img {
  width: auto;
  display: block;
  margin: 0 auto;
  height: 100%;
}
nav {
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: end;
  opacity: 0.985;
  position: absolute;
  top: 2vw;
  left: 0;
  color: white;
}
nav h3 {
  margin: 0.5vw;
  text-decoration: none;
}
nav a {
  text-decoration: none;
}
nav a:visited {
  color: #212121;
}
nav #nav-links {
  display: flex;
  width: 90%;
  justify-content: space-around;
  position: sticky;
  margin: 1em;
  font-family: font-reg;
}
@media (min-width: 905px) {
  nav #nav-links {
    width: 25%;
    margin: 0.5em;
  }
}
nav #nav-links > div {
  width: 25%;
  text-align: center;
  cursor: pointer;
}
nav #nav-links .active {
  color: #bfbfbf;
}

.home {
  display: none;
}

#align {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}
@media (min-width: 905px) {
  #align {
    width: 55vw;
  }
}

#about {
  box-sizing: border-box;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 2vw;
  list-style: url("img/bullet.svg");
  padding-bottom: 2vw;
  border-bottom: 2px solid rgba(33, 33, 33, 0.2);
  background-color: white;
}
@media (min-width: 905px) {
  #about {
    background-color: white;
    border-radius: 20px;
    border: 2px solid rgba(33, 33, 33, 0.2);
    margin-top: 2vw;
  }
}
#about span {
  font-size: 2.5em;
  font-family: font-reg;
  display: block;
  margin-right: 1vw;
  margin-bottom: 4vw;
}
@media (min-width: 905px) {
  #about span {
    float: left;
    margin-bottom: 0;
  }
}
@media (min-width: 905px) {
  #about {
    max-width: 80vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  #about > div {
    display: block;
    box-sizing: border-box;
    width: 50%;
  }
  #about #left-content {
    float: left;
    padding-right: 2vw;
    border-right: 2px solid rgba(33, 33, 33, 0.2);
  }
  #about #left-content p {
    display: block;
    margin: 0 auto;
    padding-bottom: 1em;
  }
  #about #left-content p:first-of-type {
    margin-top: 0;
  }
  #about #skills-container {
    display: flex;
    padding-left: 2vw;
    flex-direction: column;
  }
  #about #skills-container h3 {
    margin-bottom: 0.5vw;
  }
  #about #skills-container > div {
    width: 100%;
    padding-top: 0;
  }
  #about #skills-container > div h3 {
    margin-top: 0;
  }
  #about #skills-container > div ul {
    width: 75%;
    padding: 0;
    margin: 0 auto;
  }
  #about #skills-container #skills {
    margin-top: 1em;
  }
  #about #skills-container #skills > ul {
    columns: 2;
  }
}

#content-container {
  margin-top: 2vw;
}
#content-container h2 {
  margin-left: 2vw;
}
#content-container h3 {
  text-decoration: none;
}
#content-container #filter-container {
  margin-right: 2vw;
  margin-left: 2vw;
}
#content-container #filter-container #filter-grid {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  margin-top: 2vw;
  font-family: font-reg;
  color: #212121;
}
@media (min-width: 905px) {
  #content-container #filter-container #filter-grid {
    width: 50vw;
  }
  #content-container #filter-container #filter-grid > div {
    width: 4vw;
    height: 4vw;
  }
}
#content-container #filter-container #filter-grid > div {
  display: flex;
  width: 50%;
  height: 20%;
  align-items: center;
  justify-content: center;
  background-color: #bcdc92;
  cursor: pointer;
}
#content-container #filter-container #filter-grid .print {
  margin-right: 0.25vw;
}
#content-container #filter-container #filter-grid .web {
  margin-left: 0.25vw;
}
#content-container #filter-container #filter-grid .selected {
  background-color: #bfbfbf;
  transition: background-color 0.3s linear;
}
#content-container #content-grid {
  display: grid;
  grid-template-columns: repeat(2, 44vw);
  grid-template-rows: repeat(3, 44vw);
  /*(100- gutter*3)/2*/
  grid-gap: 2vw;
  box-sizing: content-box;
  margin: 4vw;
  justify-content: center;
}
#content-container #content-grid h3 {
  margin-left: 4vw;
}
@media (min-width: 905px) {
  #content-container #content-grid h3 {
    margin-left: 0;
  }
}
@media (min-width: 905px) {
  #content-container #content-grid {
    grid-template-columns: repeat(3, 18vw);
    grid-template-rows: repeat(2, 18vw);
    margin: 0;
    margin-bottom: 4vw;
    margin-top: 2vw;
    grid-gap: 0.5vw;
  }
}
#content-container #content-grid .filtered {
  transition: opacity 0.3s linear;
  opacity: 0.2;
}
#content-container #content-grid .example {
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-color: #212121;
}
#content-container #content-grid .example > div img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
@media (min-width: 905px) {
  #content-container #content-grid .example > div img {
    opacity: 0;
  }
}
#content-container #content-grid .example > div a {
  position: absolute;
  top: 0;
  display: grid;
  align-content: flex-end;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-image: linear-gradient(rgba(33, 33, 33, 0), rgba(33, 33, 33, 0.1), rgba(33, 33, 33, 0.8));
}
#content-container #content-grid .example > div a:visited {
  color: white;
}
#content-container #content-grid .example > div a:link {
  color: white;
}
#content-container #content-grid .example > div a span {
  display: none;
}
@media (min-width: 905px) {
  #content-container #content-grid .example > div a {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: start;
    box-sizing: border-box;
    padding: 0.5vw;
    padding-top: 35%;
    background-image: none;
    opacity: 1;
  }
  #content-container #content-grid .example > div a span {
    padding-left: 8%;
    padding-right: 8%;
    display: inline;
  }
}

#contact {
  display: flex;
  width: 100%;
  background-color: #212121;
  min-height: 80vh;
  align-items: center;
  color: #f8f8f8;
  padding-bottom: 12vw;
  padding-top: 4vw;
}
@media (min-width: 905px) {
  #contact {
    min-height: 50vh;
  }
}
#contact #contact-container {
  display: block;
  margin: 0 auto;
  padding: 2vw;
  box-sizing: border-box;
}
@media (min-width: 905px) {
  #contact #contact-container {
    width: 66vw;
  }
}
#contact #contact-container h2 {
  margin-bottom: 2vw;
  text-align: center;
}
#contact #contact-container #face {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4vw;
}
@media (min-width: 905px) {
  #contact #contact-container #face {
    margin-bottom: 2vw;
  }
  #contact #contact-container #face img {
    width: 40%;
  }
}
#contact #contact-container #face img {
  width: 60%;
  height: auto;
  clip-path: circle(33%);
}
@media (min-width: 905px) {
  #contact #contact-container #face img {
    width: 40%;
  }
}
#contact #contact-container #contact-links {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 100%;
}
#contact #contact-container #contact-links > div {
  height: 14vw;
  width: 14vw;
  border-radius: 50%;
  background-color: antiquewhite;
}
@media (min-width: 905px) {
  #contact #contact-container #contact-links > div {
    height: 7vw;
    width: 7vw;
  }
}

#web-container {
  margin: 4vw;
  display: grid;
  grid-gap: 4vw;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}
@media (min-width: 905px) {
  #web-container {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
    grid-gap: 0;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }
}
#web-container #bread-crumbs {
  margin-bottom: 2vw;
}
#web-container > div {
  width: 100%;
}
#web-container > div p:last-of-type {
  margin-bottom: 0;
}
#web-container > div img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
#web-container #image-grid {
  /*display: grid;
          grid-template-columns:auto;
          grid-template-rows: repeat(4,auto);
          grid-gap: $gutter;
          margin-top:2vw;
          box-sizing: content-box;
          justify-content: center;
  
          img{
              height: 100%;
              width: auto;
          }
      }
      @media (min-width : $break_tab){
          grid-template-columns: 1fr;
          display:flex;
          flex-direction: column;
          max-width: 50%;
          margin: 0 auto;
          grid-gap: 0;
          
          margin-top: $gutter;
          margin-bottom: $gutter;
  
          #image-grid{
              grid-template-columns: repeat(2, 50%);
              grid-template-rows: repeat(2, minmax(2vw, 30%));
              grid-gap: $small_margin;
  
              img{
                  height:100%;
                  width:auto;
              }
          }
  
          > div{
              padding:0;
          }
          */
  display: grid;
  margin-top: 2vw;
  box-sizing: content-box;
  justify-content: center;
  grid-gap: 2vw;
}
#web-container #image-grid.Advt {
  display: flex;
}
#web-container #image-grid.IXD {
  display: flex;
  height: 100vw;
  flex-direction: column;
  justify-content: start;
}
@media (min-width: 905px) {
  #web-container #image-grid.IXD {
    justify-content: center;
    flex-direction: row;
    height: 22vw;
  }
}
#web-container #image-grid.IXD img {
  height: auto;
  width: 100%;
}
@media (min-width: 905px) {
  #web-container #image-grid.IXD img {
    height: 100%;
    width: auto;
  }
}
#web-container #image-grid.booklet {
  grid-template-columns: 100%;
}
@media (min-width: 905px) {
  #web-container #image-grid.booklet {
    grid-template-columns: repeat(2, 33vw);
  }
}
@media (min-width: 905px) {
  #web-container #image-grid.booklet img:nth-of-type(3) {
    grid-row: 1/3;
    grid-column: 2/3;
  }
}
#web-container .UQLyfe {
  grid-template-columns: repeat(2, 50%);
}
@media (min-width: 905px) {
  #web-container .UQLyfe {
    grid-template-columns: repeat(4, 50%);
  }
}
@media (min-width: 905px) {
  #web-container .RefRel {
    grid-template-columns: repeat(2, 33vw);
  }
}
#web-container .Advt img {
  display: inline;
  margin: 0;
  height: 40vw;
  width: auto;
}
@media (min-width: 905px) {
  #web-container .Advt img {
    height: 22vw;
  }
}
#web-container #content-link {
  display: flex;
  width: 100%;
  height: 8vh;
  justify-content: center;
  margin-top: 2vw;
}
@media (min-width: 905px) {
  #web-container #content-link {
    height: 4vw;
  }
}
#web-container #content-link > a {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: #bcdc92;
}
#web-container #content-link > a:visited {
  color: #212121;
}
#web-container #content-link > a:link {
  color: #212121;
  text-decoration: none;
}
@media (min-width: 905px) {
  #web-container #content-link > a {
    width: 20%;
  }
}

#top-button {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  cursor: pointer;
  opacity: 0;
}
@media (min-width: 905px) {
  #top-button {
    width: 2vw;
    height: 2vw;
  }
}
#top-button img {
  width: 100%;
  height: 100%;
}

footer {
  color: #f8f8f8;
  background-color: #212121;
  padding-bottom: 0.5vw;
}
footer #site-map-container {
  display: block;
  margin: 0 auto;
  padding: 2vw;
  margin-bottom: 4vw;
  padding: 4vw;
  box-sizing: border-box;
  border-top: solid 2px #bcdc92;
}
@media (min-width: 905px) {
  footer #site-map-container {
    width: 66vw;
  }
}
footer #site-map-container h3 {
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0;
  margin-bottom: 2vw;
}
footer #site-map-container h4 {
  margin: 0;
}
footer #site-map-container #site-map {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
}
footer #site-map-container #site-map ul {
  padding-left: 0;
  margin: 0.5vw;
}
footer #site-map-container #site-map ul li {
  list-style: none;
}
footer #site-map-container #site-map a {
  color: #f8f8f8;
}
footer #copyright {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
